// FONT TYPES

$sans-serif: 'IBM Plex Sans', Helvetica, sans-serif;
$serif: 'Merriweather', 'IBM Plex Serif', serif;
$mono: 'Source Code Pro', Courier, mono;

// FONT WEIGHTS
$light: 100;
$normal: normal;
$semibold: 500;
$bold: 700;

//FONT SIZES
$small: 14px;
$medium: 18px;
$large: 25px;
$header: 35px;

// LINE-HEIGHTS
$body-line: 30px;

// COLORS
$txt-primary: #0e3266;
$skipper-blue: #507cf0;


 
body {
    font-family: $sans-serif;
    color: $txt-primary;
}

h1, h2, h3, h4, p, a {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
    
p {
    font-family: $serif;
    font-size: $small;
    line-height: $body-line;
}

h1 {
    font-family: $sans-serif;
    font-size: $large;
    line-height: 50px;
    font-weight: $bold;
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;
}

h4 {
    margin-top: -10px;
    line-height: $body-line;
    font-size: $medium;
    font-family: $serif;
    font-style: normal;
    font-weight: 400;
    max-width: 800px;
    margin: auto;
}

a {
    color: $txt-primary !important;
    text-decoration: none !important;
    font-size: $small;
}


.bold {
    font-weight: $bold;
}