// FONT FAMILIES
// @font-face {
//     font-family: 'Larsseit';
//     src: url(fonts/Larsseit.ttf);
// }

// @font-face {
//     font-family: 'Tiempos';
//     src: url(fonts/TiemposHeadline-Medium.otf);
// }

// FONT TYPES

$sans-serif: 'Source Sans Pro', Helvetica, sans-serif;
$serif: 'Source Serif Pro', 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;

// FONT WEIGHTS
$light: 100;
$normal: normal;
$semibold: 500;
$bold: 700;

//FONT SIZES
$small: 16px;
$medium: 18px;
$large: 25px;
$header: 35px;

// LINE-HEIGHTS
$body-line: 30px;

// COLORS
$txt-primary: #333333;
$skipper-blue: #507cf0;


 
body {
    font-family: $sans-serif;
    font-weight: $normal;
    color: $txt-primary;
}
    
p {
    font-family: $sans-serif;
    font-size: $small;
    line-height: $body-line;
}

h1 {
    font-family: 'Source Serif Pro';
    font-size: $large;
    font-weight: $normal;
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;
}

h4 {
    margin-top: -10px;
    font-weight: $normal;
    line-height: $body-line;
    font-size: $medium;
    font-family: $sans-serif;
    max-width: 800px;
    margin: auto;
}

a {
    color: $txt-primary !important;
    text-decoration: none;
}


.bold {
    font-weight: $bold;
}