// SKIPPER MEDIA QUERIES

@media screen and (max-width: 1230px) {
    .primary-container-hero {
        width: 100%;
        max-width: 1300px;
        padding-top: 90px;
    }
        .hero-card {
            border-radius: 0px;
            margin-top: -25px;
        }

        .hero-image img {
            width: 430px;
        }
}

@media screen and (max-width: 1100px) {
    .card {
        margin-bottom: 100px;
        max-width: 450px;
    }

    .float-left {
        float: none;
    }

    .col-md-4 {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card {
        width: 90%;
    }

    .show {
        display: none !important;
    }

    .hide {
        display: block !important;
    }

    .large {
        margin-bottom: 40px;
    }

    .child.card {
        width: 100%;
        margin-bottom: 35px;
        min-height: 150px;
    }
}

@media screen and (max-width: 1000px) {

    .display-hide {
        display: block;
    }

    .float-right {
        display: none;
    }

}

@media screen and (max-width: 990px) {
    #imgbehind {
        display: none;
    }
    
    .people-img{
        width: 100%;
        max-width: 300px;
        display: block;
        margin: auto;
    }

    .quote span {
        background-color: transparent;
        padding: 0px;
    }
}

@media screen and (max-width: 850px) {
    .hero-card {
        height: 100%;
        padding-bottom: 100px;
    }
    
    .hero-image {
        display:none;
    }
    
    .hero-image img {
        width: 320px;
        position: absolute;
        bottom: 0;
        margin-right: auto;
        margin-left: auto;
        right: 0;
        left: 0;
    }

    .hero-text {
        text-align: center;
        width: 80%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 5vh;
    }

    .nav-items {
        width: 90%;
    }

    .hero-image .beta-img {
        width: 230px;
        margin: auto;
        margin-bottom: 60px;
      }

    .about-txt {
        top: 70px;
        max-width: 500px;
    }

    .about-img {
        width: 450px !important;
        height: auto !important;
    }

    .people-img{
        width: 100%;
        max-width: 300px;
        display: block;
        margin: auto;
    }


    
}

@media screen and (max-width: 650px) {
    .hero-image {
        display: none;
    }

    .hero-card {
        height: 100%;
        padding-bottom: 100px;
    }

    .navbar{
        height: 100px;
    }

    .nav-items {
        text-align: center;
    }

    .nav-link{
        padding: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .nav-menu {
        margin-top: -55px;
        float: none;
        // display: none;
        // margin-left: 60px;
    }

    .hero-card {
        margin-top: 15px;
    }
    
    // .nav-burger {
    //     padding-top: 18px;
    //     width: 30px;
    //     float: left;
    //     display: block;
    // }

    .demo-link {
        display: inline-block;
    }

    .nav-logo {
        display: inline-block;
        margin-bottom: 30px;
    }

    .nav-items form {
        display: none;
    }

    .nav-items {
        border-bottom: none;
    }

    .navbar {
        border-bottom: 2px solid #333333;
    }

    form input {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .input-nav {
        width: 100%;
    }

    .input-nav:focus {
        width: 100%;
    }

}

//MOBILE QUERIES
@media screen and (max-width: 415px) {

    .small {
        width: 100%;
        max-width: 220px;
        margin: auto;
      }

    .research-txt{
        float:none;
        margin: 0px;
    }

    .article{
        width: 100%;
    }

    .info{
        display:none;
    }

}