@import 'fonts.scss';
@import 'mq.scss';

$bg-color: #f9f9f9;

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: transparent;
  position: fixed;
  z-index: 999;
}

.nav-items {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 15px;
  // border-bottom: 2px solid #b3b3b3;
}

  .top {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    background-color: white !important;
  }

  .demo-link {
    font-weight: $semibold;
    color: $skipper-blue !important;
    display: none;
  }

.nav-menu {
  float: right;
}

.nav-link {
  padding-left: 30px;
  font-size: 16px;
}

  .nav-link:hover {
    color: $skipper-blue !important;
  }

.nav-logo {
  width: 150px;
  height: 100%;
  display: inline-block;
}

.nav-burger {
  display: none;
}

.open {
  cursor: pointer;
}

// .nav {
//   position: fixed;
//   overflow-x: hidden;
//   width: 0;
//   height: 100vh;
//   z-index: 1;
//   background-color: rgba(0, 0, 0, 0.4);
//   transition: 0.5s;
//   display: block;
// }

// .nav a {
//   color: white !important;
//   text-decoration: none !important;
//   display: block;
//   padding: 1em 0;
//   text-align: center;

// }

.primary-container {
  width: 80%;
  margin: auto;
  max-width: 1100px;
}

  .primary-container-hero {
    width: 80%;
    margin: auto;
    max-width: 1100px;
    padding-top: 70px;
  }

// RECYCLED
.hero-card {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  background-color: #507cf0;
  margin-bottom: 80px;
}

// .strike {
//   text-decoration: line-through;
//   text-decoration-color: #163faf;
// }

  .hc-med {
    height: 350px;
  }

  .hc-short {
    height: 300px;
  }

.hero-text {
  width: 100%;
  position: relative;
  left: 100px;
  top: 20%;
  max-width: 500px;
}

  .about-txt {
    top: 55px;
    max-width: 250px;
  }

h1.hero {
  font-size: 35px;
}

h4.hero {
  margin-bottom: 40px;
}

.hero-image img {
  position: absolute;
  width: 500px;
  height: auto;
  right: 0px;
  bottom: 0px;
}

.hero-image img.hero-img {
  right: 100px;
  z-index: 900;
}

.hover:hover {
  transform: translateY(-3px);
  transition: all 0.5s ease;
}

#demoHeroForm {
  margin-top: -15px;

  .button-nav {
    background-color: white;
    border: none;
    color: #333333 !important;
  }

  .input-nav {
    margin-left: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.button {
  background-color: $skipper-blue;
  color: white !important;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: normal;
  border: 1px solid #103390;
}

  .button-nav {
    padding: 6px 12px;
    transition: all 0.3s ease;
  }

  .button-nav:hover {
    background-color: #103390;
  }

.hero-button {
  background-color: white;
  font-size: $medium;
  color: $skipper-blue;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}

// CARDS
.card {
  width: 100%;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  max-width: 750px;
  margin: auto;
}

.hide {
  display: hidden;
}

  .child {
    padding: 15px 15px 20px 20px;
    text-align: left;
    margin-bottom: 20px;
  }

    .child > h1 {
      font-size: 18px;
      margin-bottom: 0px;
      line-height: 25px;
    }

    .child > h4 {
      font-size: 13px;
      line-height: 25px;
    }

    .child-min {
      min-height: 180px;
    }

  .article {
    padding: 40px 30px 10px 30px; 
  }

  .article h4 {
    margin-bottom: 20px;
  }

  .research-txt{
    max-width: 600px;
    float:left;
    margin-top: 40px;
    margin-bottom: -40px;
  }

  .card-spacer {
    margin-top: 70px;
  }

  .blogcard {
    padding: 0px !important;
    min-height: 430px;
  }

  .blogcard > p {
    text-transform: uppercase;
    font-family: $sans-serif;
    font-size: $medium;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 8px;
  }

  .blogcard > .byline {
    text-transform: none;
    margin-top: -18px;
    padding-bottom: 30px;
    font-style: italic;
    opacity: 0.8;
  }

  .blogcard > h4 {
    padding: 0px 30px 30px 30px;
    font-family: $sans-serif;
    font-weight: $bold;
    text-align: left;
    font-size: 22px;

  }

  .blogcard > .blogthumb {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid $skipper-blue;
  }

.card-icon img {
  max-width: 150px;
  max-height: 150px;
  margin-top: 20px;
  margin-bottom: -80px;
}

.fullmoat {
  padding-top: 80px;
}

.moat {
  margin-bottom: 100px;
}

.smallmoat {
  margin-bottom: 50px;
}

.tape {
  position: absolute;
  top: -15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

  .tape img {
    width: 180px;
  }

  .jank-tape {
    position: relative;
    top: -60px;
    margin-bottom: -35px;
    text-align: center;
  }

// IMAGES
.hero-img {
  width: 100%;
  max-width: 300px;
}

.flex {
  width: 100%;
  max-width: 550px;
}

.full {
  width: 100%;
}

.large {
  width: 100%;
  margin: auto;
}

  .shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgb(245, 245, 245) 0px -1px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease;
  }

  .shadow:hover {
    transform: translateY(-5px);
  }

.medium {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.small {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

#imgbehind {
  width: 180px;
  position: absolute;
  left: 450px;
  top: -30px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgb(245, 245, 245) 0px -1px 0px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.tiny {
  width: 50px;
}

.hero-image .beta-img {
  width: 200px;
  margin-right: 80px;
  margin-bottom: 40px;
}

.hero-image .privacy-img {
  width: 200px;
  margin-right: 80px;
  margin-bottom: 90px;
}

.about-img {
  display: block;
  height: 100% !important;
  margin-right: 50px;
}

.people-img {
  margin-top: 30px;
  padding: 30px;
}

.people > p {
  margin: 0px;
}

// POST SECTION (ON ABOUT)
.post {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.post > h4 {
  margin-bottom: 30px;
}

.post > .flex {
  width: 100%;
  max-width: 800px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.post > h4 > a {
  text-decoration: underline !important;
  font-size: 17px;
  color: $skipper-blue !important; 
}

.post > .quote {
  font-style: italic;
  font-weight: 800;
  font-size: 18px;
}

.quote > span {
  background-color: rgba(51, 79, 235, 0.1);
  padding: 15px;
  border-radius: 3px;
}

// COLOR SELECTION
.background-blue {
  background-color: $skipper-blue;
}

.background-dark-blue {
  background-color: #0e3266;
  padding-bottom: 0px !important;
  margin-bottom: -50px !important;
}

.background-sand {
  background-color: #edda7f;
  min-height: 300px;
}

.full-width-bg {
  width: 100%;
  height: 100%;
  padding: 50px 0px 100px 0px;
  margin: 50px 0px 80px 0px;
}

.child-width {
  width: auto;
  border-radius: 5px;
}

.white {
  color: white;
}

h4.white {
  opacity: .9 !important;
}

.seller {
  margin-top: 50px;
  margin-bottom: 20px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.no-top-margin {
  margin-top: 0;
}

// FEATURE SECTION
.feature-text {
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

// BETA SIGN-UP PAGE
  form {
    display: inline-block;
  }

  #demoFooterForm {
    margin-top: 10px;
  }

  .form-wrapper {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }

  .input-box {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgb(231, 230, 229);
    padding: 6px 12px;
    outline: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px inset;
    transition: all 0.3s ease;
  }

    ::placeholder {
      color: #969595 !important;
    }

    .input-nav {
      width: 150px;
      margin-left: 30px;
      margin-right: 5px;
    }

    .input-box:hover {
      border: 1px solid rgb(182, 182, 182);
    }

    .input-nav:focus {
      width: 200px;
      border: 1px solid rgb(182, 182, 182);
    }

    .input-primary {
      margin-bottom: 25px;
    }

    span.required {
      color: #333333;
      position: absolute;
      padding-top: 8px;
      padding-left: 10px;
      font-weight: bold;
      font-size: 12px;
      opacity: .4;
    }

    .input-req:hover > span.required {
      opacity: 1;
    }

    input:focus:required:valid {
      border: 1px solid green;
    }

    input:required:valid {
      border: 1px solid green;
    }

// ABOUT PAGE
.people p, 
.people h4 {
  text-align: center;
  margin: 0px;
}

// ARTICLE CARDS
.author {
  font-style: italic;
  opacity: .4;
}

// BLOG PAGE
.blogthumb {
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.title {
  line-height: 40px;
  margin-top: -12px;
}

// SURVEY
.tf-wrap {
  padding-top: 100px;
  width: 100%;
  height: 90vh;
  min-height: 500px;
  margin-bottom: 100px;
}

.tf-wrap > .shadow:hover {
    transform: translateY(0px);
}

.typeform-share {
  color: $skipper-blue !important;
  font-style: italic;
}

// FOOTER


.footer {
  margin-top: 0;
  width: 100%;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

  .footer a {
    padding-top: 5px;
    opacity: .4;
    line-height: 30px;
    display: block;
  }

#footer-hr {
  border-top: 2px solid rgb(233, 233, 233);
}

.social-links img {
    height: 40px;
    padding: 10px;
}

.closer {
  margin-top: 80px;
}

//404 PAGE

.error{
  padding: 50px;
}

  .error-text{
    font-size: 120px;
    color: #b13c19;
    margin-top: 80px;
    margin-bottom: 50px;
  }

.error img{
  width: 70%;
  margin: 30px;
}


// OVERWRITTEN BOOTSTRAP
.container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.container-max {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 80px;
  height: 600px;
}

  .centered {
    text-align: center;
  }

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.display-hide {
  display: none;
}

.col-md-12 {
  padding-left: 30px;
  padding-right: 30px
}

.middle {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

