//- INCLUDES > MIXINS

mixin article(p, t, a, i)
    .card.article.card-spacer
        .jank-tape
            img(src='images/home-bluetape.png')
        .card-content
            h4.publisher #{p}
            h1.title #{t}
            h4.author by #{a} 
            h4.info #{i} 