extends layout

block content
  .primary-container-hero.centered.error
        br 
        br
        h1.error-text 404
        img(src='images/404-sub.png')
        h1.hero Looks like you got a bit lost... 
        h4.hero Not finding what you're looking for? Get in touch with us at support@skipper.ai

        br
        a.button(href='index.html') Return home
