extends layout

block content
  .primary-container-hero.centered
      
        h1.hero.error-text(style="margin-top: 100px;") Page not found.
        img(src=imgpath + '404-sub.png' style="width: 100%; max-width: 450px; margin-bottom: 50px;")
        h1.hero Looks like you got a bit lost... 
        h4.hero Not finding what you're looking for? Get in touch with us at support@skipper.ai

        br
        a.button(href='index.html') Return home
