extends layout

block content
    .primary-container-hero
        .hero-card.hc-short
            .hero-text.about-txt
                h1.hero.white About us
                h4.hero.white Our team of data scientists, designers, and engineers is on a mission to make work wonderful.
            .hero-image
                img.about-img(src='images/aboutus-header.png')

    .primary-container
        .container
            br
            br
            h4.
                Most people will spend at least 80,000 hours of their life working. We hope that these hours will be fulfilling and even fun, but for most people their working hours cause stress and drain energy.
            br
            h4.
                It doesn’t have to be this way—research shows that happier employees are more productive and bring more profit to their employers. At Skipper, we want to help every team build a better culture so they can be more productive as employees and happier as people.

            .row
                .col-md-6  
                    
                br(style="clear:both;")
                br
                .centered
                    a.button.button-nav(href='request-demo.html?email=') Learn more over the phone
            br
            br
            br
            br
