extends layout

block content
    .background-blue.fs.fs-about
        h1 ABOUT

    .primary-container
        .container
           .post
                h1 Why we're building Skipper 
           
                h4.quote.
                    <span>"How we spend our days is, of course, how we spend our lives.” — Annie Dillard</span>
                h4.
                    A <a href="https://news.gallup.com/opinion/chairman/212045/world-broken-workplace.aspx">2017 Gallup poll</a> found that 85% of the world’s one billion full-time workers are unengaged at their jobs. Yet most of us will spend 80,000 hours of our lives working. That’s a lot of time to spend at jobs we’re not excited to get up for every morning. 
                h4.
                    Companies don't want their employees to dislike their job. Even our peers at promising startups and big tech companies told us stories about inefficient teams, frustrating managers, or stressful projects. So our small team set out to <a href="/request-demo.html?email=">make work amazing.</a>
                h4.
                    With pressure to prioritize short term profits over developing a diverse workforce that's high performing and engaged, there’s little immediate advantage to putting employees’ well-being first. On top of that, People Management teams have a lot of other priorities on their plates, like hiring top talent and mediating employee relations. 
                h4.
                    Part of the problem is that the existing tools that measure and improve the day to day experience of an employee aren’t efficient enough. 
                h4.
                    That’s where Skipper comes in. We're redesigning how People Operations teams and Executives manage the employee experience. As a first step, we’re building a tool that gives you daily engagement scores for teams and departments and a weekly report on your employees’ experience, <strong>all without sending a survey.</strong>
                hr
                h4.
                    <em>
                    We want to hear from you about what to build next! We're on a quest to hear from as many people ops & human resources professionals as possible. Schedule a call and tell us about your experience, check out our demo, and help us make work wonderful!
                    </em>

                h4.
                    With love from Los Angeles, California. <i class="fas fa-heart skipper-icon"></i>
                br

