extends layout

block content
    .primary-container-hero
        .hero-card.hc-short
            .hero-text.about-txt
                h1.hero.white About us
                h4.hero.white Yeah, we each work hard to bring you a great product. But more importantly, we work hard together.
            .hero-image
                img.about-img(src='images/aboutus-header.png')

    .primary-container
        .centered
            img.flex(src="images/aboutus-team.png")

        .container
            br
            br
            .row
                .col-md-6  
                    p.
                        The three of us have worked together in teams (ranging from 3 to over 40 teammates) for the past two years, and noticed how culture changes when teams change and grow. With this in mind, we started Skipper as a simple research project. Our personal investment in the problem space grew as questions about diversity and inclusion in tech sprang up this year. 
                .col-md-6
                    p.
                        We’ve since developed Skipper into a full-fledged product that helps you identify people management problems to solve more effectively with access to data. As a small, flexible team, we're excited to work closely with you to create a product that seamlessly integrates itself into your organization.

