extends layout

block content
  .primary-container-hero
    .hero-card.hc-short
      .hero-text
        h1.hero.white Request beta access
        h4.hero.white Skipper is in the early stages of development. Apply here to join the beta. New requests will be approved on a rolling basis.
      .hero-image
        img.beta-img(src='images/beta-duck.png')

  .primary-container.centered
    h1.hero Try Skipper for free.
    h4.hero If you have any questions about the beta, get in touch with us at support@skipper.ai

    //register form
    .form-wrapper
      form#myForm(action="" type="")
        .container
          .row
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='First and last name' name='name')
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='Email' name='email')

          .row
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='Company' name='company')
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='What type of work do you do?' name='work')

            .row
              .col-md-12
                .form-group
                  input#beta_why.input-box(type='text' placeholder="Why are you interested in Skipper's beta?" name='info')
        br
        br
        input#email_submit.button(type="submit" value="Join Beta")

        script.
          var $ = require('jquery');
          $('#myForm').submit(function(e){
            e.preventDefault();
            $.ajax({
                url:'https://hooks.zapier.com/hooks/catch/2137285/aj4k86/',
                type:'post',
                data:$('#myForm').serialize(),
                success:function(){
                  window.location = "http://google.com";
                }
            });
          });
