extends layout

block content
  .background-blue.fs.fs-blog
    h1 BLOG

  .primary-container.centered.blog-container

    +blogcards('https://hbr.org/2017/06/hr-must-make-people-analytics-more-user-friendly','skipper-people-analytics-must-be-more-user-friendly.jpg', 'Harvard Business Review', 'HR Must Make People Analytics More User-Friendly', 'John Boudreau',

    'http://projectinclude.org/measuring_progress#repeat-surveys-regularly-at-the-right-intervals', 'skipper-culture-first-people-operations.jpeg', '⭐️ Skipper', '5 Memorable Quotes from Culture First and Advice for People Ops', 'Mimi Tran Zambetti (Co-founder)', 

    'https://hbr.org/2017/09/the-case-for-investing-more-in-people', 'skipper-hbr-invest-in-people.jpg', 'Harvard Business Review', 'The Case for Investing More in People', 'Eric Garton')

    +blogcards('https://www.kaporcenter.org/wp-content/uploads/2017/08/TechLeavers2017.pdf','skipper-tech-leavers.png', 'Kapor Center for Social Impact', 'Tech Leavers Study: Why people voluntarily left jobs in tech', 'Kapor Center',

    'https://medium.com/smells-like-team-spirit/the-diversity-fatigue-is-real-atlassians-state-of-diversity-report-2018-2655d7eb5e2c', 'skipper-diversity-fatigue-is-real.png', 'Medium', "Diversity Fatigue is Real: Atlassian's State of Diversity Report 2018", 'Aubrey Blanche', 

    'https://hbr.org/2015/12/proof-that-positive-work-cultures-are-more-productive', 'skipper-positive-workplace-culture-productivity.jpg', 'Harvard Business Review', 'Proof that Positive Work Cultures are More Productive', 'Emma Seppala and Kim Cameron')

    +blogcards('https://www.bcg.com/publications/2018/measuring-what-matters-gender-diversity.aspx', 'skipper-workplace-diversity.jpeg', 'Boston Consulting Group', 'Measuring What Matters in Gender Diversity', 'Katie Abouzahr and Frances Brooks Taplett',

    'http://firstround.com/review/atlassian-boosted-its-female-technical-hires-by-80-percent-heres-how/', 'skipper-technical-female-hires-atlassian.png', 'First Round', "Atlassian Boosted Its Female Technical Hires 80% — Here’s How", 'Aubrey Blanche', 

    'https://www.nytimes.com/2018/04/12/opinion/metoo-susan-fowler-forced-arbitration.html', 'skipper-uber-susan-fowler-gender-diversity.png', 'The New York Times', 'I Wrote the Uber Memo. This Is How to End Sexual Harassment.', 'Susan Fowler')

    +blogcards('https://hbr.org/2018/01/how-to-build-trust-with-colleagues-you-rarely-see','skipper-build-trust-remote-employees.jpg', 'Harvard Business Review', 'How to Build Trust with Colleagues You Rarely See', 'Tsedal Neeley',

    'https://www.fastcompany.com/3046358/millennials-have-a-different-definition-of-diversity-and-inclusion', 'skipper-millennials-diversity-inclusion.png', 'Fast Company', "Millennials Have A Different Definition Of Diversity And Inclusion", 'Lydia Dishman', 

    'http://firstround.com/review/a-new-approach-to-people-ops-that-puts-employee-experience-first/', 'skipper-new-approach-people-ops.png', 'First Round', 'A New Approach to People Ops That Puts Employee Experience First', 'First Round')

    +blogcards('https://www.nytimes.com/2017/08/18/upshot/evidence-of-a-toxic-environment-for-women-in-economics.html','skipper-gender-bias-economics-women.jpg', 'The New York Times', 'Evidence of a Toxic Environment for Women in Economics', 'Justin Wolfers',

    'https://hbr.org/2018/01/why-people-really-quit-their-jobs?utm_campaign=hbr&utm_source=twitter&utm_medium=social', 'skipper-why-people-quit-and-how-to-motivate.jpg', 'Harvard Business Review', "Why People Really Quit Their Jobs and How to Motivate Them to Stay", 'Lori Goler, Janelle Gale, Brynn Harrington and Adam Grant', 

    'http://firstround.com/review/heres-how-to-wield-empathy-and-data-to-build-an-inclusive-team/', 'skipper-build-diverse-team-data.jpg', 'First Round', 'Here’s How to Wield Empathy and Data to Build an Inclusive Team', 'First Round')