extends layout

block content
  .primary-container-hero
    .hero-card.hc-short
      .hero-text
        h1.hero.white Request a demo
        h4.hero.white Talk to our representatives to learn how your team could use Skipper.
      .hero-image
        img.beta-img(src='images/beta-duck.png')

  .primary-container.centered
    h4 Thanks for your interest in Skipper! Fill out this form and we'll be in touch with you shortly so we can help you plan a path to a better company culture.
    br
    br

    //register form
    .form-wrapper
      form#myForm(action="" type="")
        .container
          .row
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='First and last name' name='name')
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='Email' name='email')

          .row
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='Company' name='company')
            .col-md-6
              .form-group
                input.input-box(type='text', placeholder='What type of work do you do?' name='work')

            .row
              .col-md-12
                .form-group
                  input#beta_why.input-box(type='text' placeholder="Why are you interested in Skipper's beta?" name='info')
        br
        br
        input#email_submit.button(type="submit" value="Request a Demo")

        script.
          var $ = require('jquery');
          $('#myForm').submit(function(e){
            e.preventDefault();
            $.ajax({
                url:'https://hooks.zapier.com/hooks/catch/2137285/aj4k86/',
                type:'post',
                data:$('#myForm').serialize(),
                success:function(){
                  window.location = "/success.html";
                }
            });
          });
