extends layout2

block content
  script.
    var $ = require('jquery');
    $(function() {
      $('.ftr1').click(function(){
        $(".demoimg").attr('src',"images/dashboard1.png");
      });
      $('.ftr2').click(function(){
        $('.demoimg').attr('src',"images/dashboard2.png");
      });
      $('.ftr3').click(function(){
        $('.demoimg').attr('src',"images/dashboard3.png");
      });
    }); 

  script.
    var $ = require('jquery');
    $(document).ready(function() {
          $('.output').hide();
          $('#simpleForm').submit(function(){
                  $('.output').show();   
          });
      });


  .background-blue
    .hero-container
      .hero-card
        .hero-text
          h1.hero Create reports faster with Skipper.
          h4.hero Leverage data from your software to generate better workforce reports.
          form#simpleForm(action="/success.html" method="GET")
            input.input-box.input-nav.fatty(type="email" placeholder="Enter email" name="email")
            input#email_submit.button.hero-btn(type="submit" value="Join beta")
        img.hero-img(src='images/graph-grid.png')
  .banner
    .primary-container
      .shit-container
        h4.hero.caps SEPTEMBER 11 - 14
        h1.hero Meet Skipper at HR Technology Conference 2018!
        h4.hero Get $300 off your attendee ticket with our discount code by request.
        img(src='images/skipper-icon-white.png')
        
  .primary-container.centered
    .features
      .feature-box
        h1 Key Features
        .ftr1
          h2 Complete control
          p Easily customize graph data and include company colors, graph descriptions, and more.
        .ftr2
          h2 Share with ease
          p Clear permissioning means you can manage sensitive data and share, worry-free.
        .ftr3
          h2 Update automatically
          p New data that enters your other software updates automatically.

      h1.hide-sml Key Features
      br

      .flex-container-sml.features
        div.ftr1
          h2 Complete control
          p Easily customize graph data and include company colors, graph descriptions, and more.

        div.ftr2
          h2 Share with ease
          p Clear permissioning means you can manage sensitive data and share, worry-free.

        div.ftr3
          h2 Complete control
          p Easily customize graph data and include company colors, graph descriptions, and more.

      .demo-box
        img.demoimg(src='images/dashboard1.png')

  .primary-container.centered
    h1 Designed for HR & People Analytics. 
    h4 Skipper works with any platforms you already use, and lets you use the data however you like. With all your data organized in one place, it's easy to do simple stats in Excel, or build out predictive analytics in Tableau or R.
    br
    
    .flex
      .usecase-box
        <i class="fas fa-stethoscope skipper-icon"></i>
        h2 Diagnose retention
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.

      .usecase-box
        <i class="fas fa-user-circle skipper-icon"></i>
        h2 Optimize recruitment
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.

      .usecase-box
        <i class="fas fa-map-signs skipper-icon"></i>
        h2 Track diversity goals
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.

  .background-blue.full-width-bg.no-bottom-margin#getstarted
    .primary-container
      .seller.centered
        img.medium(src='images/research.png')
        h1.white HR professionals spend 11 hours a week creating reports.
        h4.white Check out what we’re reading about in the Workforce Analytics and Diversity and Inclusion space.
        br
        br
        a.button.hero-btn(href='/blog.html') Check out our blog
  
  br
  br
  br
  .centered
    h1 Get Started
    h4 Let our team of people analytics experts show you how you can start understanding how your people work.

    br
    br
    form#simpleForm(action="success.html" method="GET")
      input.input-box.input-nav.fatty(type="email" placeholder="Enter email" name="email")
      input#email_submit.button.button-nav.fatty(type="submit" value="Join beta")






          

 
