extends layout2

block content
  //- script.
  //-   var $ = require('jquery');
  //-   $(document).scroll(function() {
  //-   var y = $(this).scrollTop();
  //-   if (y > 100) {
  //-     $('#one').fadeIn();
  //-     $('#two').fadeIn();
  //-     $('#three').fadeIn();
  //-     $('#four').fadeIn();
  //-   } else {
  //-     $('#one').fadeOut().delay(100);
  //-     $('#two').fadeOut().delay(200);
  //-     $('#three').fadeOut().delay(300);
  //-   }
  //-   });    

  .primary-container-hero
    .hero-card
      .hero-text
        h1.hero.white Sync all your employee data seamlessly.
        h4.hero.white Skipper connects data from your ATS, HRIS, performance review software, and spreadsheets so all the data you need is easily accessible.</i>
        form#demoHeroForm(action="/request-demo2.html" method="GET")
          input.input-box.input-nav(type="email" placeholder="Enter email" name="email")
          input#email_submit.button.button-nav(type="submit" value="Request Demo")
      .hero-image
        img.hero-img(src=imgpath + 'skipper-integrate.png')
        
    .primary-container.centered
      h1.hero Designed for HR Generalists & People Analysts. 
      h4 Skipper works with any platforms you already use, and lets you use the data however you like. With all your data organized in one place, it's easy to do simple stats in Excel, or build out predictive analytics in Tableau or R.
      br
      br
      br
      
      .container.moat
        .row
            .col-md-4
                .card.child.shadow.child-min
                    h1 Complete platform support
                    h4 We find a way to work with your software so that no matter what platforms you use or how much information you want to upload, you won't need to change the way you work. 
            .col-md-4
                .card.child.shadow.child-min
                    h1 Updates automatically
                    h4 Skipper is up and running within minutes. We also handle the infrastructure so you don't need a whole team to manage the IT.
            .col-md-4
                .card.child.shadow.child-min
                    h1 Less time wrangling data
                    h4 No more asking coworkers for spreadsheets or double checking data for errors. With Skipper, focus on understanding your people and streamlining your workflows.

  .background-blue.full-width-bg.no-bottom-margin#getstarted
    .primary-container
      .seller.centered
        h1.hero.white Get Started
        h4.white Let our team of people analytics experts show you how you can start understanding how your people work.
        br
        br
        a.hero-button(href='request-demo2.html?email=') Request a demo 
        br




          

 
