extends layout

block content
  .primary-container-hero.centered
    img(src=imgpath + 'success.png' style="width: 100%; max-width: 150px; margin-bottom: 20px; margin-top: 100px;")
  
    h1.hero We just need a bit more info... 
    form.form-wrapper#demoFormComplete(action="/success.html" method="POST")
        input.input-box.input-primary(id="write" type="email" name="email" placeholder="Your email")
        br
        input.input-box.input-primary(type="text" name="firstname" placeholder="First name")
        br
        input.input-box.input-primary(type="text" name="lastname" placeholder="Last name")
        br
        input.input-box.input-primary(type="text" name="phone" placeholder="Phone number")
        br
        input#demo_submit.button.button-nav(type="submit" value="Request Demo")

    //- br
    //- br
    //- a.button(href='index.html') Return home

    br
    br

    script.
        var myParam = location.search.split('?email=')[1]
        var uri_dec = decodeURIComponent(myParam);
        console.log(uri_dec);

        document.getElementById('write').value = uri_dec;