.footer
  .primary-container
    .container#footer-hr
      .row(style="padding-top: 50px;")
        .col-md-3
          h4 Explore
          a(href='about.html') About us
          a(href='blog.html') Blog
          br
        .col-md-3
          h4 Resources
          a(href='privacy.html') Privacy Policy
          a(href='https://medium.com/skipper-ai/5-memorable-quotes-from-culture-first-723790d6bc21') Medium Articles
          
          br
        .col-md-6
          h4 Request a demo
          br
          form#simpleForm(action="success.html" method="GET")
              input.input-box.input-nav(type="email" placeholder="Enter email" name="email" style="margin-left: 0px;")
              input#email_submit.button.button-nav(type="submit" value="Join beta")            

    .container
      img.tiny.closer(src=imgpath + "skipper-icon.png")