.footer
  .primary-container
    .container
      .row
        .col-md-3
          h4 Explore
          a(href='about.html') About us
          a(href='blog.html') Blog
          br
        .col-md-3
          h4 Resources
          a(href='index.html#research') Research
          a(href='privacy.html') Privacy
          br
        .col-md-6
          h4 Subscribe for updates
          form#emailForm(action="" type="")
            .form-group
                    input.input-box(type='text', placeholder='Email address' name='email')
            
            input#email_submit.button(type="submit" value="Sign up")

        script.
          var $ = require('jquery');
          $('#emailForm').submit(function(e){
            e.preventDefault();
            $.ajax({
                url:'https://hooks.zapier.com/hooks/catch/2137285/wo0as1/',
                type:'post',
                data:$('#emailForm').serialize(),
                success:function(){
                  window.location = "http://google.com";
                }
            });
          });

    .container
      img.tiny.closer(src=imgpath + "skipper-icon.png")