.footer
  .primary-container
    .container
      .row
        .col-md-3
          h4 Explore
          a(href='about.html') About us
          a(href='blog.html') Blog
          br
        .col-md-3
          h4 Resources
          a(href='index.html#research') Research
          a(href='privacy.html') Privacy
          br
        .col-md-6
          h4 Subscribe for updates
          .form-group
                  input.input-box(type='text', placeholder='Email address' name='email')

    .container
      img.tiny.closer(src=imgpath + "skipper-icon.png")