.footer
  .primary-container
    .container
      .row
        .col-md-3
          h4 Explore
          a About us
          a Blog
          br
        .col-md-3
          h4 Resources
          a Research
          a Privacy
          br
        .col-md-6
          h4 Subscribe for updates
          .form-group
                  input.input-box(type='text', placeholder='Email address' name='email')

    .container
      img.tiny.closer(src="images/skipper-icon.png")