.navbar
    .nav-items
        .nav-logo
            img.medium(src='images/skipper-logo.png')
        .nav-menu
            a.nav-link(href='google.com') Features
            a.nav-link(href='google.com') Research
            a.nav-link(href='google.com') About Us
            a.nav-link.beta-link(href='google.com') Join Beta