.navbar.top
    .nav-items
        .nav-burger
            span.open(id="open" onclick="openNav()") &#9776
        a.nav-logo(href='/')
            img.medium(src='images/skipper-logo.png')
        .nav-menu
            //- a.nav-link(href="index.html") Home
            a.nav-link(href='about.html') About
            a.nav-link(href='blog.html') Blog
            a.nav-link.demo-link(href='request-demo.html?email=') Join beta
            
            form#simpleForm(action="success.html" method="GET")
                input.input-box.input-nav(type="email" placeholder="Enter email" name="email")
                input#email_submit.button.button-nav(type="submit" value="Join beta")